### JupyterNotebooks ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Datasets
AZDIAS_Feature_Summary.csv
AZDIAS_Subset.csv
CUSTOMERS_Subset.csv
Data_Dictionary.md
